@import "src/settings.scss";

.todo-list-item {
  display: flex;
  align-items: center;
  width: 100%;

  &__checkbox {
    padding: 10px;
    font-size: 30px;
    cursor: pointer;

    > input {
      display: none;
    }
  }

  &__title--done {
    text-decoration: line-through;
  }

  &__input {
    @include default-font();
    padding: 0;
    width: 100%;
    border: none;
  }

  &__edit-save-button, &__delete-button {
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 30px;
  }

  &__edit-save-button {
    margin-left: auto;
  }
}
